.news-section {
    background: #EDEDED;
    padding-bottom: 98px;

    .redline-button {
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        color: #C53720;
        padding: 20px;
        width: 236px;
        height: 56px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;

        &:hover {
            border: 4px solid #C53720;
            color: #D42E12;
        }

        &:active {
            color: #fff;
        }
    }

    .news-section__title {
        color: var(--black-2, #1D1D1D);
        text-align: center;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
        padding-top: 88px;
    }

    .red-line {
        margin-top: 8px;
        margin-bottom: 74px;
        width: 216px;
    }

    .new-cards {
        display: flex;
        margin-bottom: 72px;

        .new-card {
            margin-left: 24px;

            .card-header {
                padding: 20px;
                margin-top: -5px;
                background: var(--black-2, #1D1D1D);
                width: 360px;
                position: relative;

                img {
                    position: absolute;
                    width: 50.999px;
                    height: 20px;
                    bottom: 9%;
                    right: 5%
                }
            }

            img {
                width: 360px;
                height: 284px;

            }

            .card-date {
                color: var(--red-2, #C53720);
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }

            .card-new-text {
                color: #FFF;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                margin-top: 12px;
                margin-bottom: 26px;
            }

            &:hover {
                cursor: pointer;
            }
        }
    }
}